@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生修改个人信息</title>
    <link href="~/Scripts/bs/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link href="~/Content/student.css" rel="stylesheet" />
</head>
<body >
    <!--修改个人信息-->
    @{ var student = ViewData["student"] as hubu.sgms.Model.Student;}
    <div class="container">
        <div class="z_content" >
            <div class="embed-responsive embed-responsive-16by9" style="height:700px">
                <form id="defaultForm" class="form-horizontal" action="javascript:void(0);" style="margin-top: 10px; ">
                            
                   <input type="hidden" id="studentID"  class="form-control" name="studentID" placeholder="姓名" value="@student.student_id" disabled="disabled" />

                        <div class="form-group">
                                <label class="col-lg-3 control-label" >姓名</label>
                            <div class="col-lg-6">
                                <input type="text" id="studentName" class="form-control" name="studentName" placeholder="姓名" value="@student.student_name" disabled="disabled"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">学号</label>
                            <div class="col-lg-6">
                                <input type="text" id="studentIDCard" class="form-control" name="studentIDCard" placeholder="学号" value="@student.student_id_card" disabled="disabled"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">性别</label>
                            <div class="col-lg-6">
                                <input type="text" id="studentSex" class="form-control" name="studentSex" placeholder="性别" value="@student.student_sex" disabled="disabled" />
                            </div>
                        </div>
                   
                    <div class="form-group">
                        <label class="col-lg-3 control-label">年级</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentGrade" class="form-control" name="studentGrade" placeholder="年级" value="@student.student_grade" disabled="disabled"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">学生类型</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentType" class="form-control" name="studentType" placeholder="学生类型" value="@student.student_type" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">院系</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentDepartment" class="form-control" name="studentDepartment" placeholder="院系" value="@student.student_department" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">专业</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentMajor" class="form-control" name="studentMajor" placeholder="专业" value="@student.student_major" disabled="disabled" />
                        </div>
                    </div>

                    <!--级联菜单城市选择-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">住宿地点</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentAddress" class="form-control" name="studentAddress" placeholder="住宿地点" value="@student.student_address" disabled="disabled"/>
                        </div>
                    </div>


                    <!--级联菜单城市选择-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">联系方式</label>
                        <div class="col-lg-6">
                            <input type="text" id="studentContact" class="form-control" name="studentContact" placeholder="手机号" value="@student.student_contact"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">所获奖项</label>
                        <div class="col-lg-6">
                            <textarea rows="3" id="studentAward" class="form-control" name="studentAward" placeholder="@student.student_award" value="@student.student_award"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">个人描述</label>
                        <div class="col-lg-6">
                            <textarea rows="3" id="studentOther" class="form-control" name="studentOther" placeholder="@student.student_other" value="@student.student_other"></textarea>
                        </div>
                    </div> 
                </form>
                
            </div>
        </div>
    </div>
   
     <div style="text-align:center">
        <button onclick="ww()" class="btn btn-success">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
        <button type="reset" class="btn btn-warning" name="reset" value="重置">&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
    </div>
    <div style="text-align:center">
            <button  onclick="ww()"  class="btn btn-success">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
            <button  type="reset" class="btn btn-warning" name="reset" value="重置">&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
    </div>
    <script>
        function ww() {
            var Award = document.getElementById("studentAward").value;
            var Contact = document.getElementById("studentContact").value;
            var Other = document.getElementById("studentOther").value;
            var id=@student.student_id;
            window.location.href = "/Student/SubmitUpdateStudentInfo?studentID="+id+"&contact="+Contact+"&award="+Award+"&other="+Other;
        }
    </script>    
</body>
</html>
