@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/Content/admin/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/admin/pikaday.css" />
    <script src="~/Scripts/Course/pikaday.js"></script>
    <script src="~/Scripts/Course/jquery.min.js"></script>
    <script src="~/Scripts/Course/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/sweetalert2.min.css">
</head>
<body class="withvernav">
    <div style="height:50px;background-color:#31425D;text-align:center" align="Center">
        <h1 vertical-align="middle" style="line-height:45px ">Modify Student Information</h1>
    </div>
    <!--form表单中固定有submit按钮，onsubmit表示在提交时所做的js判断-->
    <form id="formid" class="stdform stdform2" action="/Admin/SubmitAdminUpdateStudentInfo" method="post">
        <p>
            <label>Student ID</label>
            <span class="field"><input value="@ViewData["student_id"]" type="text" name="studentID" id="studentID" class="longinput" readonly="readonly" style="width:280px;" /></span>
        </p>
        <p>
            <label>Name</label>
            <span class="field"><input value="@ViewData["student_name"]" type="text" name="studentName" id="studentName" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Gender</label>
            <span class="field" style="width:500px;"> 
                <select value="@ViewData["student_sex"]" id="studentSex" name="studentSex" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="男">Male</option>
                    <option value="女">Female</option>
                </select>
            </span>
        </p>
        <p>
            <label>ID Card Number</label>
            <span class="field"><input value="@ViewData["student_id_card"]" type="text" name="studentIDCard" id="studentIDCard" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Age</label>
            <span class="field"><input value="@ViewData["student_age"]" type="text" name="studentAge" id="studentAge" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>College</label>
            <span class="field" style="width:700px;">
                <select value="@ViewData["student_department"]" name="studentDepartment" id="studentDepartment" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="1">School of Chinese Language and Literature</option>
                    <option value="2">School of Journalism and Communication</option>
                    <option value="3">School of Business</option>
                    <option value="4">College of Politics & Law and Public Administration</option>
                    <option value="5">School of Foreign Languages</option>
                    <option value="6">School of History and Culture</option>
                    <option value="7">Faculty of Education</option>
                    <option value="8">School of philosophy</option>
                    <option value="9">School of Marxism</option>
                    <option value="10">Faculty of Mathematics and Statistics</option>
                    <option value="11">Faculty of Physics and Electronic Science</option>
                    <option value="12">College of Chenistry & Chemical Engineering</option>
                    <option value="13">College of Life Science</option>
                    <option value="14">Faculty of Resource and Environmental Science</option>
                    <option value="15">School of Computer Science and Information Engineering</option>
                    <option value="16">School of Materials Science and Engineering</option>
                    <option value="17">School of Art</option>
                    <option value="18">School of Physical Education</option>
                    <option value="19">College of General Education</option>
                    <option value="20">Chucai Honors College</option>
                    <option value="21">School of International Education</option>
                </select>
            </span>
        </p>
        <p>
            <label>Major</label>
            <span class="field" style="width:500px;">
                <select value="@ViewData["student_major"]" name="studentMajor" id="studentMajor" style="width:300px;">
                    <option value="" selected="selected">- Please Selsct College First -</option>

                </select>
            </span>
        </p>
        <p>
            <label>Class</label>
            <span class="field" style="width:500px;">
                <select name="classlist" id="classlist" style="width:300px;">
                    <option value="" selected="selected">- Please Selsct Major First -</option>

                </select>
            </span>
        </p>
        <p>
            <label>Grade</label>
            <span class="field" style="width:400px;">
                <select value="@ViewData["student_grade"]" name="studentGrade" id="studentGrade" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>年级</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                </select>
            </span>
        </p>
        <p>
            <label>Student Type</label>
            <span class="field" style="width:400px;">
                <select value="@ViewData["student_type"]" name="studentType" id="studentType" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="本科生">Bachelor</option>
                    <option value="研究生">Postgraduate Student</option>
                    <option value="博士生">Doctoral Student</option>
                </select>
            </span>
        </p>
        <p>
            <label>Dorm Address</label>
            <span class="field"><input value="@ViewData["student_address"]" type="text" name="studentAddress" id="studentAddress" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Nation</label>
            <span class="field" style="width:400px;">
                <select value="@ViewData["student_native"]" name="studentNative" id="studentNative" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="汉">Han</option>
                    <option value="土家">Tujia</option>
                    <option value="苗">Miao</option>
                    <option value="维吾尔">Weiwuer</option>
                    <option value="藏">Zang</option>
                    <option value="朝鲜">Chaoxian</option>
                    <option value="回族">Hui</option>
                    <option value="彝族">Yi</option>
                    <option value="蒙古族">Menggu</option>
                    <option value="布依族">Buyi</option>
                    <option value="其他">Other</option>
                </select>
            </span>
        </p>
        <p>
            <label>Birth Place</label>
            <span class="field"><input value="@ViewData["student_birthplace"]" type="text" name="studentBirthplace" id="studentBirthplace" class="longinput" style="width:280px;" /></span>
        </p>

        <!--上传照片-->

        <p>
            <label>Politics Status</label>
            <span class="field" style="width:400px;">
                <select value="@ViewData["student_politicsstatus"]" name="studentPoliticsstatus" id="studentPoliticsstatus" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="群众">Public</option>
                    <option value="中共党员">Communist Party of China</option>
                    <option value="其他">Other Parties</option>
                </select>
            </span>
        </p>
        <p>
            <label>Phone Number</label>
            <span class="field"><input value="@ViewData["student_contact"]" type="text" name="studentContact" id="studentContact" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Family Size</label>
            <span class="field" style="width:400px;">
                <select value="@ViewData["student_family"]" name="studentFamily" id="studentFamily" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>家庭人数</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="更多">More than 6</option>
                </select>
            </span>
        </p>
        <p>
            <label>Honor</label>
            <span class="field"><input value="@ViewData["student_award"]" type="text" name="studentAward" id="studentAward" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Personal</label>
            <span class="field"><input value="@ViewData["student_other"]" type="text" name="studentOther" id="studentOther" class="longinput" style="width:280px;" /></span>
        </p>
        <p>
            <label>Status</label>
            <span class="field" style="width:300px;">
                <select value="@ViewData["status"]" name="studentStatus" id="studentStatus" style="width:300px;">
                    <option value="" style="display: none;" disabled selected>- Select -</option>
                    <option value="1">Normal</option>
                    <option value="2">Quit School</option>
                    <option value="3">Stay Down</option>
                    <option value="4">Warning</option>
                </select>
            </span>
        </p>
        <div class="showcase sweet" style="height:50px;background-color:white" align="Center">
            <button class="submit" align="Center" style="width:120px;margin-top: 10px;">Modify</button>
        </div>
    </form>

    <script>

        /**
         * 当学院下拉框被点击时,刷新专业下拉框
         */
        $(document).ready(function () {
            $("select[name='studentDepartment']").change(function () {
                var college = $("#studentDepartment").val();

                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillMajor",
                    data: "college=" + college,
                    success: function (data) {
                        $("#studentMajor").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                    .val(item["Value"])
                                    .text(item["Text"])
                                    .appendTo($("#studentMajor"));
                            });
                        }
                        fillcourselist(college, coursetype);
                    }
                });
            });
        });

        /**
         * 当专业下拉框被点击时,刷新班级下拉框
         */
        $(document).ready(function () {
            $("select[name='studentMajor']").change(function () {
                var major = $("#studentMajor").val();
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClass",
                    data: "major=" + major,
                    success: function (data) {
                        $("#classlist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                    .val(item["Value"])
                                    .text(item["Text"])
                                    .appendTo($("#classlist"));
                            });
                        }
                    }
                });
            });
        });


        $('.showcase.sweet button').on('click', function () {
            var studentName = document.getElementById("studentName").value;
            var studentSex = document.getElementById("studentSex").value;
            var studentIDCard = document.getElementById("studentIDCard").value;
            var studentAge = document.getElementById("studentAge").value;
            var studentDepartment = document.getElementById("studentDepartment").value;
            var studentMajor = document.getElementById("studentMajor").value;
            var studentGrade = document.getElementById("studentGrade").value;
            var studentType = document.getElementById("studentType").value;
            var studentAddress = document.getElementById("studentAddress").value;
            var studentNative = document.getElementById("studentNative").value;
            var studentBirthplace = document.getElementById("studentBirthplace").value;
            var studentPoliticsstatus = document.getElementById("studentPoliticsstatus").value;
            var studentContact = document.getElementById("studentContact").value;
            var studentFamily = document.getElementById("studentFamily").value;
            var studentAward = document.getElementById("studentAward").value;
            var studentOther = document.getElementById("studentOther").value;
            var studentStatus = document.getElementById("studentStatus").value;
            //studentName,studentSex,studentIDCard,studentAge,studentDepartment,studentMajor,studentGrade,studentType
            //studentAddress,studentNative,studentBirthplace,studentPoliticsstatus,studentContact,studentFamily,studentAward,studentOther,studentStatus
            if (studentName == '' || studentSex == '' || studentIDCard == '' || studentAge == '' || studentDepartment == '' || studentMajor == '' || studentGrade == ''
                || studentType == '' || studentAddress == '' || studentNative == '' || studentBirthplace == '' || studentPoliticsstatus == '' || studentContact == ''
                || studentStatus == '') {
                swal('Submit Error', 'Please Check Empty Column', 'Error');
                return false;
            } else {
                document.getElementById("formid").submit();
            }
        });
    </script>
</body>
</html>