@{
    Layout = null;
}
@using hubu.sgms.BLL;
@using hubu.sgms.BLL.Impl;
@using hubu.sgms.Model;
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/pageGroup.css" />
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/pageGroup.js"></script>
    <link href="~/Content/bootstrap3.3.7.min.css" rel="stylesheet" />
    <script src="~/Scripts/Course/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content/Admin/example.css">
    <script src="^/Course/sweet-alert.js"></script>
    <link rel="stylesheet" href="~/Content/admin/sweet-alert.css">
    <title>Query Teacher Information</title>
    <style type="text/css">
        .container-fluid {
            padding: 0;
        }

            .container-fluid nav {
                padding-left: 10%;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <form id="formid" class="navbar-form navbar-left" role="search" method="post" action="/Admin/AdminAlterTeacherInfo">
                    <label>College</label>
                    <span class="field" style="width:400px;">
                        <select name="teacherDepartment" id="teacherDepartment">
                            <option value="" style="display: none;" disabled selected>- Select -</option>
                            <option value="1">School of Chinese Language and Literature</option>
                            <option value="2">School of Journalism and Communication</option>
                            <option value="3">School of Business</option>
                            <option value="4">College of Politics & Law and Public Administration</option>
                            <option value="5">School of Foreign Languages</option>
                            <option value="6">School of History and Culture</option>
                            <option value="7">Faculty of Education</option>
                            <option value="8">School of philosophy</option>
                            <option value="9">School of Marxism</option>
                            <option value="10">Faculty of Mathematics and Statistics</option>
                            <option value="11">Faculty of Physics and Electronic Science</option>
                            <option value="12">College of Chenistry & Chemical Engineering</option>
                            <option value="13">College of Life Science</option>
                            <option value="14">Faculty of Resource and Environmental Science</option>
                            <option value="计算机与信息工程学院">School of Computer Science and Information Engineering</option>
                            <option value="16">School of Materials Science and Engineering</option>
                            <option value="17">School of Art</option>
                            <option value="18">School of Physical Education</option>
                            <option value="19">College of General Education</option>
                            <option value="20">Chucai Honors College</option>
                            <option value="21">School of International Education</option><!--此处后期需要转换-->
                        </select>
                    </span> &nbsp;
                    <div class="form-group">
                        <input id="teacherName" name="teacherName" type="text" class="form-control" placeholder="Please Enter Teacher Name" />
                    </div>
                    <input id="searchCourseBtn" type="button" onclick="refreshCourseList()" class="btn btn-info" value="Query" />
                    <input id="pageNumber" name="page" type="text" value="" style="display:none" />
                    <input id="sizeNumber" name="size" type="text" value="" style="display:none" />
                    <input id="teacherDepartmentSave" name="teacherDepartmentSave" type="text" value="@ViewData["teacherDepartment"]" style="display:none" />
                    <input id="teacherNameSave" name="teacherNameSave" type="text" value="@ViewData["teacherName"]" style="display:none" />
                </form>
                <a href="/Admin/AddTeacherInfo" class="dropdown-toggle">Add a Teacher</a>
            </div>
        </nav>
    </div>

    <div id="body">
        <div class="container">
            <!--展示教师信息的表格-->
            <table class="table table-hover table-bordered" id="diasplaycourseInfo">
                <colgroup>
                    <col class="con0" style="width: 4%" />
                    <col class="con1" style="width: 4%" />
                    <col class="con0" style="width: 4%" />
                    <col class="con0" style="width: 4%" />
                    <col class="con0" style="width: 4%" />
                </colgroup>
                <thead>
                    <tr class="warning">
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>College</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody id="courseList">
                    @if (ViewData["teacherList"] != null)
                    {
                        foreach (Teacher item in (List<Teacher>)ViewData["teacherList"])
                        {
                            <tr>
                                <td class="center">@item.teacher_name</td>
                                <td class="center">@item.teachert_sex</td>
                                <td class="center">@item.teacher_contact</td>
                                <td class="center">@item.teacher_department</td>
                                <td class="center">
                                    <a href='#' onclick="teacherDetail('@item.teacher_id')" class="Detail">Detail</a> &nbsp;
                                    <a href="#" onclick="teacherEdit('@item.teacher_id')" class="edit">Modify</a> &nbsp;
                                    <a href='#' onclick="teacherDelete('@item.teacher_id')" class="delete">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div id="pageid">
                <ul class="pager">
                    <li class="previous"><a href="#" onclick="prePage('@ViewData["page"]');">&larr; Older</a></li>
                    <li class="next"><a href="#" onclick="nextPage('@ViewData["page"]');">Newer &rarr;</a></li>
                </ul>
                <center>Page <span id="page">@ViewData["page"]</span> ，Total <span id="totalPage">@ViewData["totalPage"]</span> Page(s)</center>            </div>
            <!--分页按钮  pagination  pager-->
        </div>
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap3.3.7.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        var page = 1;
        var size = 10;

        function refreshCourseList() {
            $("#pageNumber").val(page);
            $("#sizeNumber").val(size);
            $("#formid").submit();
        }

        // 上一页按钮的点击事件
        function prePage(page) {
            if (page == 1) {
                return false;
            } else {
                page--;
                //refreshCourseList();
                $("#pageNumber").val(page);
                $("#sizeNumber").val(size);
                $("#formid").submit();
            }
        }


        // 下一页按钮的点击事件
        function nextPage(page) {
            if (page == @ViewData["totalPage"]+0) {
                return false;
            } else {
                page++;
                //refreshCourseList();
                $("#pageNumber").val(page);
                $("#sizeNumber").val(size);
                $("#formid").submit();
            }
        }


        /**
         * 查看教师的详细信息
         * param  teacherId	教师ID
        */
        function teacherDetail(teacherId) {
            window.location.href = "/Admin/ViewTeacherInfo?teacherId=" + teacherId;
        }

        /**
         * 修改教师的信息
         * param  teacherId	教师ID
        */
        function teacherEdit(teacherId) {
            window.location.href = "/Admin/AdminUpdateTeacherInfo?teacherId=" + teacherId;
        }

        /**
         * 删除教师
         * param  teacherId	教师ID
        */
        function teacherDelete(teacherId) {
            if (confirm("Confirm Delete?")) {
                window.location.href = "/Admin/AdminDeleteTeacher?teacherId=" + teacherId;
            } else {
                return false;
            }
        }

    </script>
</body>
</html>
