
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/Content/admin/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/admin/pikaday.css" />
    <script src="~/Scripts/Course/pikaday.js"></script>
    <script src="~/Scripts/Course/jquery.min.js"></script>
    <script src="~/Scripts/Course/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/sweetalert2.min.css">

    <title>学院管理员排课</title>
</head>
<body>


    <div>

        <div style="height:50px;background-color:#31425D;text-align:center" align="Center">
            <h1 vertical-align="middle" style="line-height:45px ">学院管理员排课</h1>
        </div><!--contenttitle-->
        <!--form表单中固定有submit按钮，onsubmit表示在提交时所做的js判断-->


        <form id="formdetail" class="stdform stdform2" method="post">



            <p>
                <label>课程类型</label>
                <span class="field" style="width:900px;">
                    <select id="course_typelist" name="course_typelist">
                        @if (@Html.Encode(ViewData["coursetype"]) != "")
                        {
                            <option value=@Html.Encode(ViewData["coursetypeList"]) style="display: none;" disabled selected>@Html.Encode(ViewData["coursetype"])</option>

                        }
                        else
                        {
                            <option value="" style="display: none;" disabled selected>课程类型</option>}
                        <option value="专业选修课">专业选修课</option>
                        <option value="专业必修课">专业必修课</option>
                    </select>
                </span>
            </p>

            <p>
                <label>开课学院</label>
                <span class="field" style="width:900px;">
                    <select name="collegelist" id="collegelist" onchange="check()" >
                        @if (@Html.Encode(ViewData["college"]) != "")
                        {
                            <option value=@Html.Encode(ViewData["college"]) style="display: none;" disabled selected>@Html.Encode(ViewData["college"])</option>
                        }
                        else
                        {
                        <option value="" style="display: none;" disabled selected>开课学院</option>}
                        <option value="@ViewData["dep"]">@ViewData["depval"]</option>
                    </select>
                </span>

            </p>

            <p>
                <label>上课专业</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.majorList != null)
                    {
                        @Html.DropDownList("majorlist", ViewBag.majorList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {

                        <select name="majorlist" id="majorlist">
                            <option value="" selected="selected">请先选择学院</option>
                        </select>}
                </span>
            </p>
            <p>
                <label>上课班级</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.classList != null)
                    {
                        @Html.DropDownList("classlist", ViewBag.classList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {
                        <select name="classlist" id="classlist">
                            <option value="" selected="selected">请先选择专业</option>
                        </select>}
                </span>
            </p>
            <p>
                <label>选择课程</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.courseList != null)
                    {
                        @Html.DropDownList("courselist", ViewBag.courseList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {
                        <select name="courselist" id="courselist">
                            <option value="" selected="selected">请先选择课程类型和学院</option>
                        </select>}
                </span>
            </p>
            <p>
                <label>授课教师</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.teacherList != null)
                    {
                        @Html.DropDownList("teacherlist", ViewBag.teacherList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {
                        <select name="teacherlist" id="teacherlist">
                            <option value="" selected="selected">请先选择学院</option>
                        </select>}
                </span>
            </p>
            <p>
                <label>上课教学楼</label>
                <span class="field" style="width:900px;">
                    <select name="buildinglist" id="buildinglist">
                        @if (@Html.Encode(ViewData["building"]) != "")
                        {
                            <option value="" style="display: none;" disabled selected>@Html.Encode(ViewData["building"])</option>
                        }
                        else
                        {
                            <option value="" style="display: none;" disabled selected>选择教学楼</option>}
                        <option value="1">教一</option>
                        <option value="2">教二</option>
                        <option value="3">教三</option>
                        <option value="4">教四</option>
                        <option value="5">教五</option>
                    </select>
                </span>
            </p>

            <p>
                <label>上课教室</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.classroomList != null)
                    {
                        @Html.DropDownList("classroomlist", ViewBag.classroomList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {
                        <select name="classroomlist" id="classroomlist">
                            <option value="" selected="selected">请先选择教学楼</option>
                        </select>}
                </span>
            </p>

            <p>
                <label>上课星期</label>
                <span class="field" style="width:900px;">
                    <select name="weekdaylist" id="weekdaylist">
                        ect name="buildinglist" id="buildinglist">
                        @if (@Html.Encode(ViewData["weekday"]) != "")
                        {
                            <option value="" style="display: none;" disabled selected>@Html.Encode(ViewData["weekday"])</option>
                        }
                        else
                        {
                            <option value="" style="display: none;" disabled selected>选择星期</option>}
                        <option value="1">一</option>
                        <option value="2">二</option>
                        <option value="3">三</option>
                        <option value="4">四</option>
                        <option value="5">五</option>
                        <option value="6">六</option>
                    </select>
                </span>
            </p>
            <p>
                <label>上课时段</label>
                <span class="field" style="width:900px;">
                    @if (ViewBag.classtimeList != null)
                    {
                        @Html.DropDownList("classtimelist", ViewBag.classtimeList as IEnumerable<SelectListItem>, new { @class = "btn btn-success dropdown-toggle form-control" })
                    }
                    else {
                        <select name="classtimelist" id="classtimelist">
                            <option value="" selected="selected">请先选择星期</option>
                        </select>}
                </span>
            </p>


            <div class="showcase sweet" style="height:50px;background-color:white" align="Center">
                @if (@Html.Encode(ViewData["coursetype"]) != "")
                {<button type="button" id="btnEdit" align="Center" style="width:120px;margin-top: 10px;">修改课程信息</button> }
                else {
                    <button type="button" id="btnSub" align="Center" style="width:120px;margin-top: 10px;">添加排课信息</button>}
            </div>

        </form>

    </div>

    <script type="text/javascript">



        $(document).ready(function () {
            $("select[name='course_typelist']").change(function () {
                var coursetype = $("#course_typelist").val();
                var college = $("#collegelist").val();
                if (college != "" || college == null) { return false; }
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillCourse",
                    data: "college=" + college + "&&coursetype=" + coursetype,
                    success: function (data) {
                        $("#courselist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#courselist"));
                            });
                        }
                    }
                });

            });
        });

        $(document).ready(function () {
            $("select[name='collegelist']").change(function () {
                var coursetype = $("#course_typelist").val();
                var college = $("#collegelist").val();

                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillMajor",
                    data: "college=" + college,
                    success: function (data) {
                        $("#majorlist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#majorlist"));
                            });
                        }
                        fillcourselist(college, coursetype);

                    }
                });
            });
        });

        function fillcourselist(college, coursetype) {
            var myDate = new Date();

            var year = myDate.getFullYear().toString();  //获取当前年
            year = year.substring(2); //取年份后两位
            var month = myDate.getMonth() + 1;  //获取当前月

            if (month >= 1 && month <= 6) {    //设置成数据库中格式
                month = "01";
            }
            else {
                month = "02";
            }

            var courseopentime = year + month;

            $.ajax({
                type: "POST",
                url: "/Arrange/CAFillCourse",
                data: "college=" + college + "&&coursetype=" + coursetype + "&&courseopentime=" + courseopentime,
                success: function (data) {
                    $("#courselist").empty();
                    if (data.length != 0) {
                        $.each(data, function (i, item) {
                            $("<option></option>")
                            .val(item["Value"])
                            .text(item["Text"])
                            .appendTo($("#courselist"));
                        });
                    }
                    fillteacherlist(college);
                }
            });
        }

        function fillteacherlist(college) {
            $.ajax({
                type: "POST",
                url: "/Arrange/CAFillTeacher",
                data: "college=" + college,
                success: function (data) {
                    $("#teacherlist").empty();
                    if (data.length != 0) {
                        $.each(data, function (i, item) {
                            $("<option></option>")
                            .val(item["Value"])
                            .text(item["Text"])
                            .appendTo($("#teacherlist"));
                        });
                    }
                }
            });
        }

        $(document).ready(function () {
            $("select[name='majorlist']").change(function () {
                var major = $("#majorlist").val();
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClass",
                    data: "major=" + major,
                    success: function (data) {
                        $("#classlist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classlist"));
                            });
                        }
                    }
                });
            });
        });

        $(document).ready(function () {
            $("select[name='teacherlist']").change(function () {
                var classroom = $("#classroomlist").val();
                var weekday = $("#weekdaylist").val();
                var teacher = $("#teacherlist").val();
                var class1 = $("#classlist").val();
                if (weekday == "" || weekday == null) {
                    return false;
                }
                else if (class1 == "" || class1 == null) {

                    return false;
                }
                else if (classroom == "" || classroom == null) {

                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClasstime",
                    data: "classroom=" + classroom + "&&weekday=" + weekday + "&&teacher=" + teacher + "&&class1=" + class1,
                    success: function (data) {
                        $("#classtimelist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classtimelist"));
                            });
                        }
                    }
                });

            });
        });

        $(document).ready(function () {
            $("select[name='classlist']").change(function () {
                var classroom = $("#classroomlist").val();
                var weekday = $("#weekdaylist").val();
                var teacher = $("#teacherlist").val();
                var class1 = $("#classlist").val();
                if (weekday == "" || weekday == null) {
                    return false;
                }
                else if (teacher == "" || teacher == null) {

                    return false;
                }
                else if (classroom == "" || classroom == null) {

                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClasstime",
                    data: "classroom=" + classroom + "&&weekday=" + weekday + "&&teacher=" + teacher + "&&class1=" + class1,
                    success: function (data) {
                        $("#classtimelist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classtimelist"));
                            });
                        }
                    }
                });

            });
        });

        $(document).ready(function () {
            $("select[name='buildinglist']").change(function () {
                var building = $("#buildinglist").val();
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClassroom",
                    data: "building=" + building,
                    success: function (data) {
                        $("#classroomlist").empty();
                        //    $("#classtimelist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classroomlist"));
                            });
                        }
                    }
                });
            });
        });

        $(document).ready(function () {
            $("select[name='classroomlist']").change(function () {
                var classroom = $("#classroomlist").val();
                var weekday = $("#weekdaylist").val();
                var teacher = $("#teacherlist").val();
                var class1 = $("#classlist").val();
                if (weekday == "" || weekday == null) {
                    return false;
                }
                else if (class1 == "") {

                    return false;
                }
                else if (classroom == "") {

                    return false;
                }
                else if (teacher == "") {
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClasstime",
                    data: "classroom=" + classroom + "&&weekday=" + weekday + "&&teacher=" + teacher + "&&class1=" + class1,
                    success: function (data) {
                        $("#classtimelist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classtimelist"));
                            });
                        }
                    }
                });

            });
        });

        $(document).ready(function () {
            $("select[name='weekdaylist']").change(function () {
                var classroom = $("#classroomlist").val();
                var weekday = $("#weekdaylist").val();
                var teacher = $("#teacherlist").val();
                var class1 = $("#classlist").val();
                if (teacher == "") {
                    alert("获取上课时间前请选定教师！");
                    return false;
                }
                else if (class1 == "") {
                    alert("获取上课时间前请选定上课班级！");
                    return false;
                }
                else if (classroom == "") {
                    alert("获取上课时间前请选定教室！");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClasstime",
                    data: "classroom=" + classroom + "&&weekday=" + weekday + "&&teacher=" + teacher + "&&class1=" + class1,
                    success: function (data) {
                        $("#classtimelist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                .val(item["Value"])
                                .text(item["Text"])
                                .appendTo($("#classtimelist"));
                            });
                        }
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#btnSub").click(function () {
                var course = $("#courselist").val();
                var class1 = $("#classlist").val();
                var teacher = $("#teacherlist").val();
                var classroom = $("#classroomlist").val();
                var classtime = $("#classtimelist").val();
                var weekday = $("#weekdaylist").val();
                if (course == "") {
                    alert("请选定课程！");
                    return false;
                }
                else if (class1 == "") {
                    alert("请选定班级！");
                    return false;
                }
                else if (teacher == "") {
                    alert("请选定教师！");
                    return false;
                }
                else if (classroom == "") {
                    alert("请选定教室！");
                    return false;
                }
                else if (classtime == "") {
                    alert("请选定时间！");
                    return false;
                }
                var gnl = confirm("确定提交?");
                if (gnl == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Arrange/InsArrangeDetail",
                        data: "class1=" + class1 + "&&course=" + course + "&&teacher=" + teacher + "&&classroom=" + classroom + "&&classtime=" + classtime + "&&weekday=" + weekday,
                        //           data: "class1=" + class1 + "&&course=" + course,
                        success: function (data) {
                            alert("提交成功！");
                            $("#classtimelist").empty();
                            if (data.length != 0) {
                                $.each(data, function (i, item) {
                                    $("<option></option>")
                                    .val(item["Value"])
                                    .text(item["Text"])
                                    .appendTo($("#classtimelist"));
                                });
                            }
                        }
                    });
                }
                else {
                    return false;
                }



            });
        });

        $(document).ready(function () {
            $("#btnEdit").click(function () {
                var course = $("#courselist").val();
                var class1 = $("#classlist").val();
                var teacher = $("#teacherlist").val();
                var classroom = $("#classroomlist").val();
                var classtime = $("#classtimelist").val();
                var weekday = $("#weekdaylist").val();


                if (course == "") {
                    alert("请选定课程！");
                    return false;
                }
                else if (class1 == "") {
                    alert("请选定班级！");
                    return false;
                }
                else if (teacher == "") {
                    alert("请选定教师！");
                    return false;
                }
                else if (classroom == "") {
                    alert("请选定教室！");
                    return false;
                }
                else if (classtime == "") {
                    alert("请选定时间！");
                    return false;
                }
                var gnl = confirm("确定提交?");
                if (gnl == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Arrange/UpdateArrangeInfo",
                        data: "class1=" + class1 + "&&course=" + course + "&&teacher=" + teacher + "&&classroom=" + classroom + "&&classtime=" + classtime + "&&weekday=" + weekday ,
                        //           data: "class1=" + class1 + "&&course=" + course,
                        success: function (data) {
                            alert("修改成功！");
                            window.location.href = "/Arrange/CASelArrangeCourseInfo?class1="+class1
                        }
                    });
                }
                else {
                    return false;
                }



            });
        });
    </script>
</body>
</html>
