@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/public/new_file.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/public/jcarousellite.js"></script>
    <script type="text/javascript" src="~/Scripts/public/docs.min.js"></script>
    <title>Student Registration System</title>
</head>
<style>
    .z_class_detail img {
        cursor: pointer;
    }
</style>

<body onload="loadCourseInfo()">
    <!--logo部分-->
    <div class="container-fluid">
        <div class="z_top">
            <div class="container">
                <div class="col-md-6">
                    <img src="~/Content/img/logo2.PNG" />
                </div>
                <div class="col-md-4">
                    <!--搜索框-->
                    <div class="sousuo">
                        <form method="get" onsubmit="">
                            <div class="search">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" class="search-keyword" placeholder="Please enter the course/teacher name" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2" style="width: 146px;">
                    <ul class="top_r">
                        <li>
                            <!--  <a href="#">注册</a>  
                        </li>
                        <li><span>|</span></li> -->
                        <li>
                            <a href='/Login/Index'>LOG IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--nav部分-->
    <div class="z_nav container-fluid">
        <div class="nav_cent container">
            <ul>
                <li>
                    <a href="#">
                        <center>HOME</center>
                    </a>
                </li>
                <li>
                    <a href="#course0">
                        <center>LATEST COURSES</center>
                    </a>
                </li>
                <li>
                    <a href="#course1">
                        <center>PUB COMPULSORY COURSES</center>
                    </a>
                </li>
                <li>
                    <a href="#course2">
                        <center>PUB ELECTIVE COURSES</center>
                    </a>
                </li>
                <li>
                    <a href="#course3">
                        <center>PRO COMPULSORY COURSES</center>
                    </a>
                </li>
                <li>
                    <a href="#course4">
                        <center>PRO ELECTIVE COURSES</center>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--轮播图部分-->
    <div id='mycarousel' class='carousel slide' data-ride='carousel'>
        <!-- 幻灯片图片 -->
        <div class='carousel-inner'>
            <div class="item active">
                <img src="~/Content/img/a.jpg" alt="" />
                <div class="carousel-caption">
                    <h3>WEBSITE INTRODUCTION</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/b.jpg" alt="">
                <div class="carousel-caption">
                    <h3>WEBSITE INTRODUCTION</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/c.jpg" alt="">
                <div class="carousel-caption">
                    <h3>WEBSITE INTRODUCTION</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。</p>
                </div>
            </div>
        </div>
        <!-- 左右控制 -->
        <a href="#mycarousel" class='left carousel-control' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
        </a>

        <a href="#mycarousel" class='right carousel-control' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
    </div>	

    <!--通知公告-->
    <div class="container">
        <!--左侧新闻动态-->
        <div class="col-md-8 z_detail">
            <div class="panel panel-default">
                <div class="panel-heading">NEWS</div>
                <div class="panel-body detail">
                    <!--新闻公告图片-->
                    <div class="rollpic cl">
                        <a href="javascript:void(0)" class="prev"></a>
                        <div class="rollpicshow">
                            <ul>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new3.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new3.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0)" class="next"></a>
                    </div>
                    <ul>
                        <li>
                            <s></s> 
                            <a onclick="showDetail(@ViewData["id1"])" href="#" title="@ViewData["title1"]">@ViewData["title1"]</a><img src="~/Content/img/new.gif" />
                            <p>@ViewData["time1"]</p>
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id2"])" href="#" title="@ViewData["title2"].">@ViewData["title2"]</a><img src="~/Content/img/new.gif" />
                            <p>@ViewData["time2"]</p>
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id3"])" href="#" title="@ViewData["title3"]">@ViewData["title3"]</a>
                            <p>@ViewData["time3"]</p><img src="~/Content/img/new.gif" />
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id4"])" href="#" title="@ViewData["title4"]">@ViewData["title4"]</aonclick="showDetail(@ViewData["id1"])">
                            <p>@ViewData["time4"]</p><img src="~/Content/img/new.gif" />
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id5"])" href="#" title="@ViewData["title5"]">@ViewData["title5"]</a>
                            <p>@ViewData["time5"]</p>
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id6"])" href="#" title="@ViewData["title6"]">@ViewData["title6"]</a>
                            <p>@ViewData["time6"]</p>
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id7"])" href="#" title="@ViewData["title7"]">@ViewData["title7"]</a>
                            <p>@ViewData["time7"]</p>
                        </li>
                        <li>
                            <s></s>
                            <a onclick="showDetail(@ViewData["id8"])" href="#" title="@ViewData["title8"]">@ViewData["title8"]</a>
                            <p>@ViewData["time8"]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--动态文字公告-->
        <div class="col-md-4 z_autonews">
            <div class="panel panel-default">
                <div class="panel-heading">ANNOUNCEMENT</div>
                <div class="panel-body">
                    <div class="layui-collapse" lay-accordion="">
                        <div class="layui-colla-item">
                            <div class="layui-colla-content layui-show">
                                <div id="marquee" class="marquee">
                                    <div id="holder" style="font-size: 15px;">
                                        <ul>
                                            <li><b>[ANNOUNCEMENT #1]@ViewData["msg1"]</li>
                                            <br />
                                            <li><b>[ANNOUNCEMENT #2]@ViewData["msg2"]</li>
                                            <br />
                                            <li><b>[ANNOUNCEMENT #3]@ViewData["msg3"]</li>
                                            <br />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!---课程信息-->
    <div class="container-fluid">
        <div class="container">
            <!--最新课程-->
            <div class="z_class">
                <div id="new" class="z_class_nav">
                    <h4 id="course0">LATEST COURSES<sup><img src="~/Content/img/new.gif"></sup><a href='/Course/CourseDisplay'>MORE>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="newImg1" src=""/>
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="newLab1_1">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_1">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="newLab1_2">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_2">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="newLab1_3">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_3">Course Semester:</label>   
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="newLab1_4">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_4">Course Semester:</label>    
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="newLab1_5">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_5">Course Semester:</label>    
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                             <label id="newLab1_6">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="newLab2_6">Course Semester:</label>
                        </span>
                    </div>
                </div>
            </div>
            <!--公共必修课-->
            <div class="z_class">
                <div id="gb" class="z_class_nav">
                    <h4 id="course1">PUBLIC COMPULSORY COURSES<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=公共必修课'>MORE>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_1">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_1">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_2">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_2">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_3">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_3">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_4">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_4">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_5">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_5">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gbLab1_6">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gbLab2_6">Course Semester:</label>
                        </span>
                    </div>
                </div>
            </div>
            <!--公共选修课-->
            <div class="z_class">
                <div id="gx" class="z_class_nav">
                    <h4 id="course2">PUBLIC ELECTIVE COURSES<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=公共选修课'>MORE>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_1">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_1">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_2">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_2">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_3">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_3">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_4">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_4">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_5">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_5">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="gxLab1_6">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="gxLab2_6">Course Semester:</label>
                        </span>
                    </div>
                </div>
            </div>
            <!--专业必修课-->
            <div class="z_class">
                <div id="zb" class="z_class_nav">
                    <h4 id="course3">PROFESSIONAL COMPULSORY COURSES<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=专业必修课'>MORE>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_1">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_1">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_2">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_2">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_3">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_3">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_4">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_4">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_5">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_5">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zbLab1_6">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zbLab2_6">Course Semester:</label>
                        </span>
                    </div>
                </div>
            </div>
            <!--专业选修-->
            <div class="z_class">
                <div id="zx" class="z_class_nav">
                    <h4 id="course4">PROFESSIONAL ELECTIVE COURSES<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=专业选修课'>MORE>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_1">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_1">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_2">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_2">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_3">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_3">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_4">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_4">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_5">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_5">Course Semester:</label>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label id="zxLab1_6">Course Credits:</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label id="zxLab2_6">Course Semester:</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--回到顶部-->
    <div class="container">
        <div class="tooltip-demo">
            <button type="button" onclick="window.location.href='/Home/Index'" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Back to Top">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
        </div>
    </div>

    <!--底部友情提示 -->
    <div class="container-fluid buttombaxkground">
        <div class="container">
            <div class="buttom_1" align="center">
                <ul>
                    <li>
                        <a href="#">Links</a>
                    </li>
                    <li><span>|</span></li>
                    <li>
                        <a href="#">Visitor Messages</a>
                    </li>
                    <li><span>|</span></li>
                    <li>
                        <a href="#">Website Service</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="buttom_2" align="center">
                All Rights Reserved 2018 HuBei University TEL:88663890 E-mail:jwc@hubu.edu.cn  Mail Address:No.368, Youyi Avenue, Wuchang District, Wuhan, Hubei Province
            </div>
        </div>
    </div>
    <script src="~/Scripts/public/index.js"></script>

    <script>

        //动态加载课程信息
        function loadCourseInfo() {

            $.ajax({
                url: "/Home/GetNewCourse?size=6",
                method: "post",
                async: false,
                success: function (data) {

                    if (data.status == "0") {
                        //alert(data.status);
                        //将数据填入相应的图片位置

                        //最新课程
                        var newList = data.newCourseList;
                        insert(newList, "newImg", "new");
                        $("#newLab1_1").html("Course Credits:" + newList[0].course_credit);
                        $("#newLab2_1").html("Course Semester:" + newList[0].course_opentime);
                        $("#newLab1_2").html("Course Credits:" + newList[1].course_credit);
                        $("#newLab2_2").html("Course Semester:" + newList[1].course_opentime);
                        $("#newLab1_3").html("Course Credits:" + newList[2].course_credit);
                        $("#newLab2_3").html("Course Semester:" + newList[2].course_opentime);
                        $("#newLab1_4").html("Course Credits:" + newList[3].course_credit);
                        $("#newLab2_4").html("Course Semester:" + newList[3].course_opentime);
                        $("#newLab1_5").html("Course Credits:" + newList[4].course_credit);
                        $("#newLab2_5").html("Course Semester:" + newList[4].course_opentime);
                        $("#newLab1_6").html("Course Credits:" + newList[5].course_credit);
                        $("#newLab2_6").html("Course Semester:" + newList[5].course_opentime);

                        //公选课程
                        var gxList = data.gxCourseList;
                        insert(gxList, "gxImg", "gx");
                        $("#gxLab1_1").html("Course Credits:" + gxList[0].course_credit);
                        $("#gxLab2_1").html("Course Semester:" + gxList[0].course_opentime);
                        $("#gxLab1_2").html("Course Credits:" + gxList[1].course_credit);
                        $("#gxLab2_2").html("Course Semester:" + gxList[1].course_opentime);
                        $("#gxLab1_3").html("Course Credits:" + gxList[2].course_credit);
                        $("#gxLab2_3").html("Course Semester:" + gxList[2].course_opentime);
                        $("#gxLab1_4").html("Course Credits:" + gxList[3].course_credit);
                        $("#gxLab2_4").html("Course Semester:" + gxList[3].course_opentime);
                        $("#gxLab1_5").html("Course Credits:" + gxList[4].course_credit);
                        $("#gxLab2_5").html("Course Semester:" + gxList[4].course_opentime);
                        $("#gxLab1_6").html("Course Credits:" + gxList[5].course_credit);
                        $("#gxLab2_6").html("Course Semester:" + gxList[5].course_opentime);

                        //公共必修课
                        var gbList = data.gbCourseList;
                        insert(gbList, "gbImg", "gb");
                        $("#gbLab1_1").html("Course Credits:" + gbList[0].course_credit);
                        $("#gbLab2_1").html("Course Semester:" + gbList[0].course_opentime);
                        $("#gbLab1_2").html("Course Credits:" + gbList[1].course_credit);
                        $("#gbLab2_2").html("Course Semester:" + gbList[1].course_opentime);
                        $("#gbLab1_3").html("Course Credits:" + gbList[2].course_credit);
                        $("#gbLab2_3").html("Course Semester:" + gbList[2].course_opentime);
                        $("#gbLab1_4").html("Course Credits:" + gbList[3].course_credit);
                        $("#gbLab2_4").html("Course Semester:" + gbList[3].course_opentime);
                        $("#gbLab1_5").html("Course Credits:" + gbList[4].course_credit);
                        $("#gbLab2_5").html("Course Semester:" + gbList[4].course_opentime);
                        $("#gbLab1_6").html("Course Credits:" + gbList[5].course_credit);
                        $("#gbLab2_6").html("Course Semester:" + gbList[5].course_opentime);

                        //专选课程
                        var zxList = data.zxCourseList;
                        insert(zxList, "zxImg", "zx");
                        $("#zxLab1_1").html("Course Credits:" + zxList[0].course_credit);
                        $("#zxLab2_1").html("Course Semester:" + zxList[0].course_opentime);
                        $("#zxLab1_2").html("Course Credits:" + zxList[1].course_credit);
                        $("#zxLab2_2").html("Course Semester:" + zxList[1].course_opentime);
                        $("#zxLab1_3").html("Course Credits:" + zxList[2].course_credit);
                        $("#zxLab2_3").html("Course Semester:" + zxList[2].course_opentime);
                        $("#zxLab1_4").html("Course Credits:" + zxList[3].course_credit);
                        $("#zxLab2_4").html("Course Semester:" + zxList[3].course_opentime);
                        $("#zxLab1_5").html("Course Credits:" + zxList[4].course_credit);
                        $("#zxLab2_5").html("Course Semester:" + zxList[4].course_opentime);
                        $("#zxLab1_6").html("Course Credits:" + zxList[5].course_credit);
                        $("#zxLab2_6").html("Course Semester:" + zxList[5].course_opentime);

                        //专业必修课
                        var zbList = data.zbCourseList;
                        insert(zbList, "zbImg", "zb");             
                        $("#zbLab1_1").html("Course Credits:" + zbList[0].course_credit);
                        $("#zbLab2_1").html("Course Semester:" + zbList[0].course_opentime);
                        $("#zbLab1_2").html("Course Credits:" + zbList[1].course_credit);
                        $("#zbLab2_2").html("Course Semester:" + zbList[1].course_opentime);
                        $("#zbLab1_3").html("Course Credits:" + zbList[2].course_credit);
                        $("#zbLab2_3").html("Course Semester:" + zbList[2].course_opentime);
                        $("#zbLab1_4").html("Course Credits:" + zbList[3].course_credit);
                        $("#zbLab2_4").html("Course Semester:" + zbList[3].course_opentime);
                        $("#zbLab1_5").html("Course Credits:" + zbList[4].course_credit);
                        $("#zbLab2_5").html("Course Semester:" + zbList[4].course_opentime);
                        $("#zbLab1_6").html("Course Credits:" + zbList[5].course_credit);
                        $("#zbLab2_6").html("Course Semester:" + zbList[5].course_opentime);
                    }
                    else {
                        alert("网络出错啦！！");
                    }
                },
                error: function () {
                    alert("网络出错啦！！");
                }
            });
        }

        //执行插入
        function insert(array, imgId, divId) {

            var rootImg = "/Content/courseImg/";

            var links = document.getElementById(divId).getElementsByTagName("a");

            $.each(array, function (i) {

                links[i+1].innerHTML = array[i].course_name;
                document.getElementById(imgId + (i + 1) + "").src = rootImg + array[i].course_photo;


                document.getElementById(imgId + (i + 1) + "").onclick = function () {
                    // alert(array[i].course_id + ":" + array[i].course_name);
                    window.open("/Course/HomeCourseDetail?courseId=" + array[i].course_id);
                }
            });


        }

              //显示新闻详情
        function showDetail(index) {
          
              window.location.href = "/News/ShowDetail?id=" + index;

        }

        function showMore(){
            window.location.href = "/News/ShowMore" 
        }
    </script>
</body>
</html>
